---
layout: home
---


<section id="slider" class="swiper_wrapper full-screen clearfix" data-effect="fade" data-loop="true" data-speed="600" data-autoplay="7000" data-progress="false">
  <div class="">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-5.jpg" | relative_url }}');"></div>
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-6.jpg" | relative_url }}');"></div>
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-7.jpg" | relative_url }}');"></div>
      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <!-- Texto intro -->
      <div class="row clearfix text-center">
        <h1>
          <p class="text-center">En Ciudad Luz somos expertos en <br/><strong>energía solar distribuida</strong><br/> para Chile y Latinoamérica</p>
        </h1>
      </div>

      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px"></div>

      <!-- Que ofrecemos -->
      <div class="row clearfix">
        <h2>
          <p><strong>¿Que Ofrecemos?</strong></p>
        </h2>
      </div>

      <!-- Que ofrecemos: financiamiento -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/financiamiento.png" style="width: 90%">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Financiamiento</strong></h3>
            <p style="font-size: 1.4em">
                Ofrecemos alternativas de financiamiento - proyectos llave en mano, leasing
                o con contrato de venta de energía - acorde a tus necesidades.
            </p>
        </div>
      </div>

      <!-- Que ofrecemos: diseño -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/diseno.png" style="width: 100%">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Diseño</strong></h3>
            <p style="font-size: 1.4em">
              Diseñamos proyectos solares fotovoltáicos ajustados a tus condiciones.
            </p>
        </div>
      </div>

      <!-- Que ofrecemos: ejecución -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/ejecucion.png" style="width: 80%">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Ejecución</strong></h3>
            <p style="font-size: 1.4em">
              Instalamos y ponemos en funcionamiento los sistemas solares que diseñamos.
            </p>
        </div>
      </div>

      <!-- Que ofrecemos: mantención -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/mantencion.png" style="width: 90%">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Operación, Monitoreo y Mantenimiento</strong></h3>
            <p style="font-size: 1.4em">
                Brindamos servicios de operación, monitoreo remoto y mantenimiento
                para asegurar que tu sistema solar rinda al máximo.
            </p>
        </div>
      </div>

      
      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>


      <!-- Que nos diferencia -->
      <div class="row clearfix text-right">
        <h2>
          <p><strong>¿Que Nos Diferencia?</strong></p>
        </h2>
      </div>

      <!-- Que nos diferencia: innovación -->
      <div class="row clearfix">
        <div class="col-sm-3 col-md-push-8 text-center">
          <img src="/img/innovacion.png" style="width: 80%">
        </div>
        <div class="col-sm-8 col-md-pull-3 text-right">
          <h3 style="margin-bottom: 0px"><strong>Innovación</strong></h3>
          <p style="font-size: 1.4em">
              Nos mantenemos en una constante búsqueda y desarrollo de nuevas tecnologías, para así poder ofrecer los mejores proyectos solares a nuestros clientes.
          </p>
        </div>
      </div>

      <!-- Que nos diferencia: compromiso -->
      <div class="row clearfix">
        <div class="col-sm-3 col-md-push-8 text-center">
          <img src="/img/compromiso.png" style="width: 80%">
        </div>
        <div class="col-sm-8 col-md-pull-3 text-right">
          <h3 style="margin-bottom: 0px"><strong>Compromiso</strong></h3>
          <p style="font-size: 1.4em">
              Somos una empresa Chilena con vocación latinoamericana, atenta a las necesidades los territorios y sus habitantes, y preocupada por entregar un servicio cercano y de excelencia.
          </p>
        </div>
      </div>

      <!-- Que nos diferencia: experiencia -->
      <div class="row clearfix">
        <div class="col-sm-3 col-md-push-8 text-center">
          <img src="/img/experiencia.png" style="width: 80%">
        </div>
        <div class="col-sm-8 col-md-pull-3 text-right">
          <h3 style="margin-bottom: 0px"><strong>Experiencia</strong></h3>
          <p style="font-size: 1.4em">
              Hemos abordado proyectos de diversa envergadura y características, aprendiendo de cada uno de ellos para responder con los mejores estándares de calidad.
          </p>
        </div>
      </div>


      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>


      <!-- Con quienes trabajamos -->
      <div class="row clearfix">
        <h2>
          <p><strong>¿Con Quienes Trabajamos?</strong></p>
        </h2>
      </div>

      <!-- Con quienes trabajamos: hogares -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/icono-home2-noun-edit-large3.png">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Hogares</strong></h3>
            <p style="font-size: 1.4em">
              Decenas de hogares han confiado en nosotros para instalar
              sistemas solares eficientes y bien ajustados a sus necesidades.
            </p>
        </div>
      </div>

      <!-- Con quienes trabajamos: empresas -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/icono-factory-noun-edit-large3.png" style="width: 80%">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Empresas</strong></h3>
            <p style="font-size: 1.4em">
              Hemos generado alianzas y concretado proyectos con diversas empresas
              de los sectores comercio, agricultura e industria.
            </p>
        </div>
      </div>

      <!-- Con quienes trabajamos: instituciones -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/icono-institucional2-noun-edit-large3.png">
        </div>
        <div class="col-md-9">
            <h3 style="margin-bottom: 0px"><strong>Instituciones</strong></h3>
            <p style="font-size: 1.4em">
                Varias instituciones de gobierno y del tercer sector han confiado en nosotros
                para empujar sus agendas de sostenibilidad.
            </p>
        </div>
      </div>

      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>
      

      <!-- MAPA -->
      <div class="row clearfix text-right">
        <h2>
          <p><strong>¿Donde Hemos Construido?</strong></p>
        </h2>
      </div>

      <div class="row clearfix">
        <div class="col-md-12">
          <div style="
            width: 100%; 
            height: 400px;
            background: #fff;
            padding: 15px;
            box-shadow: 0 0 20px #999;
            border-radius: 2px;">
            <div id="map" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>

      <!-- JAVASCRIPT MAPA -->
      <script language="javascript" type="text/javascript" defer='defer'>
        window.onload = function () {
          var map = new GMaps({
            div: '#map',
            lat: -33.467316,
            lng: -70.633746, 
            zoom: 5
          });

          {% for item in site.projects_residencial_mapa %}
          {% if item.latitud != null %}
          map.addMarker({
            icon: "/img/icono-home2-noun-edit-small3.png",
            lat: {{item.latitud}},
            lng: {{item.longitud}},
            infoWindow: {
              content:'<h3>{{ item.title }}</h3><p><strong>Potencia Total:</strong> {{ item.potencia_total }}</p>'
            }
          });
          {% endif %}
          {% endfor %}

          {% for item in site.projects_institucional_mapa %}
          {% if item.latitud != null %}
          map.addMarker({
            icon: "/img/icono-institucional2-noun-edit-small3.png",
            lat: {{item.latitud}},
            lng: {{item.longitud}},
            infoWindow: {
              content:'<h3>{{ item.title }}</h3><p><strong>Mandante:</strong> {{ item.mandante }}<br/><strong>Potencia Total:</strong> {{ item.potencia_total }}</p>'
            }
          });
          {% endif %}
          {% endfor %}

          {% for item in site.projects_empresarial_mapa %}
          {% if item.latitud != null %}
          map.addMarker({
            icon: "/img/icono-factory-noun-edit-small3.png",
            lat: {{item.latitud}},
            lng: {{item.longitud}},
            infoWindow: {
              content:'<h3>{{ item.title }}</h3><p><strong>Mandante:</strong> {{ item.mandante }}<br/><strong>Potencia Total:</strong> {{ item.potencia_total }}</p>'
            }
          });
          {% endif %}
          {% endfor %}
        }
      </script>


      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>
      
      
      <!-- Quienes Han Confiado -->
      <div class="row clearfix">
        <h2>
          <p><strong>Han Confiado en Nosotros:</strong></p>
        </h2>
      </div>


      <div class="row clearfix">
        <div class="col-md-12 text-center">
          <span style="padding: 20px"><img src="img/han_confiado/desafio_levantemos_chile.png"/></span>
          <span style="padding: 20px"><img src="img/han_confiado/cesfam_penaflor.png"/></span>
          <span style="padding: 20px"><img src="img/han_confiado/cerveceria_guayacan.png"/></span>
          <span style="padding: 20px"><img src="img/han_confiado/hogar_de_cristo.png"/></span>
          <span style="padding: 20px"><img src="img/han_confiado/ministerio_desarrollo_social.png"/></span>
        </div>
      </div>

    </div>

    </div>
  </div>
</section>



<!-- Dynamic page generated in 1.058 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2017-08-04 20:48:16 -->
