---
layout: home
---


<section id="slider" class="swiper_wrapper full-screen clearfix" data-effect="fade" data-loop="true" data-speed="600" data-autoplay="7000" data-progress="false">
  <div class="">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-1.jpg" | relative_url }} ');"></div>
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-2.jpg" | relative_url }}');"></div>
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-3.jpg" | relative_url }}');"></div>
        <div class="swiper-slide" style="background-image: url(' {{ "/img/index-slider-4.jpg" | relative_url }}');"></div>
      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <!-- Texto intro -->
      <div class="row clearfix text-center">
        <h1>
          <p class="text-center">En Ciudad Luz somos expertos en <br/><strong>energía solar distribuida</strong><br/> para Chile y Latinoamérica</p>
        </h1>
      </div>

      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px"></div>

      <!-- Que ofrecemos -->
      <div class="row clearfix">
        <h2>
          <p><strong>¿Que Ofrecemos?</strong></p>
        </h2>
      </div>

      <!-- Que ofrecemos: diseño -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/diseno.png" style="width: 100%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Diseño</strong></p></h3>
            <p style="font-size: 1.4em">
              Diseñamos proyectos solares fotovoltáicos ajustados a tus condiciones.
            </p>
        </div>
      </div>

      <!-- Que ofrecemos: ejecución -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/ejecucion.png" style="width: 80%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Ejecución</strong></p></h3>
            <p style="font-size: 1.4em">
              Instalamos y ponemos en funcionamiento los sistemas solares que diseñamos.
            </p>
        </div>
      </div>

      <!-- Que ofrecemos: mantención -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/mantencion.png" style="width: 90%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Monitoreo y Mantenimiento</strong></p></h3>
            <p style="font-size: 1.4em">
                Brindamos servicios de operación, monitoreo y mantenimiento para asegurar que
                tu sistema solar rinda al máximo.
            </p>
        </div>
      </div>

      <!-- Que ofrecemos: financiamiento -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/financiamiento.png" style="width: 90%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Financiamiento</strong></p></h3>
            <p style="font-size: 1.4em">
                Ofrecemos alternativas de financiamiento acorde a tus necesidades.
            </p>
        </div>
      </div>

      
      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>


      <!-- Que nos diferencia -->
      <div class="row clearfix text-right">
        <h2>
          <p><strong>¿Que Nos Diferencia?</strong></p>
        </h2>
      </div>

      <!-- Que nos diferencia: innovación -->
      <div class="row clearfix">
        <div class="col-sm-3 col-md-push-8 text-center">
          <img src="/img/innovacion.png" style="width: 80%">
        </div>
        <div class="col-sm-8 col-md-pull-3 text-right">
          <h3><p><strong>Innovación</strong></p></h3>
          <p style="font-size: 1.4em">
              Nos mantenemos en una constante búsqueda y desarrollo de nuevas tecnologías, para así poder ofrecer los mejores proyectos solares a nuestros clientes.
          </p>
        </div>
      </div>

      <!-- Que nos diferencia: compromiso -->
      <div class="row clearfix">
        <div class="col-sm-3 col-md-push-8 text-center">
          <img src="/img/compromiso.png" style="width: 80%">
        </div>
        <div class="col-sm-8 col-md-pull-3 text-right">
          <h3><p><strong>Compromiso</strong></p></h3>
          <p style="font-size: 1.4em">
              Somos una empresa Chilena con vocación latinoamericana, atenta a las necesidades los territorios y sus habitantes, y preocupada por entregar un servicio cercano y de excelencia.
          </p>
        </div>
      </div>

      <!-- Que nos diferencia: experiencia -->
      <div class="row clearfix">
        <div class="col-sm-3 col-md-push-8 text-center">
          <img src="/img/experiencia.png" style="width: 80%">
        </div>
        <div class="col-sm-8 col-md-pull-3 text-right">
          <h3><p><strong>Experiencia</strong></p></h3>
          <p style="font-size: 1.4em">
              Hemos abordado proyectos de diversa envergadura y características, aprendiendo de cada uno de ellos para responder con los mejores estándares de calidad.
          </p>
        </div>
      </div>


      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>


      <!-- Con quienes trabajamos -->
      <div class="row clearfix">
        <h2>
          <p><strong>¿Con Quienes Trabajamos?</strong></p>
        </h2>
      </div>

      <!-- Con quienes trabajamos: hogares -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/diseno.png" style="width: 100%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Hogares</strong></p></h3>
            <p style="font-size: 1.4em">
              Diseñamos proyectos solares fotovoltáicos ajustados a tus condiciones.
            </p>
        </div>
      </div>

      <!-- Con quienes trabajamos: empresas -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/ejecucion.png" style="width: 80%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Empresas</strong></p></h3>
            <p style="font-size: 1.4em">
              Instalamos y ponemos en funcionamiento los sistemas solares que diseñamos.
            </p>
        </div>
      </div>

      <!-- Con quienes trabajamos: instituciones -->
      <div class="row clearfix">
        <div class="col-md-offset-1 col-md-2 text-center">
          <img src="/img/ejecucion.png" style="width: 80%">
        </div>
        <div class="col-md-9">
            <h3><p><strong>Instituciones</strong></p></h3>
            <p style="font-size: 1.4em">
              Instalamos y ponemos en funcionamiento los sistemas solares que diseñamos.
            </p>
        </div>
      </div>

      <!-- Espaciador -->
      <div class="row clearfix" style="margin-bottom: 50px;"></div>
      
      <!-- Que nos diferencia -->
      <div class="row clearfix text-right">
        <h2>
          <p><strong>¿Donde Estamos?</strong></p>
        </h2>
      </div>

      <div class="row clearfix">
        <div class="col-md-12">
          <div style="
            width: 100%; 
            height: 400px;
            background: #fff;
            padding: 15px;
            box-shadow: 0 0 20px #999;
            border-radius: 2px;">
            <div id="map" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>

      <script language="javascript" type="text/javascript" defer='defer'>
        window.onload = function () {
          var map = new GMaps({
            div: '#map',
            lat: -36.391378,
            lng: -71.769336, 
            zoom: 5
          });

          {% for item in site.projects_residencial %}
          {% if item.latitud != null %}
          map.addMarker({
            lat: {{item.latitud}},
            lng: {{item.longitud}},
            infoWindow: {
              content:'<h3>{{ item.title }}</h3><p><strong>Ubicación:</strong> {{ item.ubicacion }}<br/><strong>Mandante:</strong> {{ item.mandante }}<br/><strong>Potencia Total:</strong> {{ item.potencia_total }}</p>'
            }
          });
          {% endif %}
          {% endfor %}

          {% for item in site.projects_institucional %}
          {% if item.latitud != null %}
          map.addMarker({
            lat: {{item.latitud}},
            lng: {{item.longitud}},
            infoWindow: {
              content:'<h3>{{ item.title }}</h3><p><strong>Ubicación:</strong> {{ item.ubicacion }}<br/><strong>Mandante:</strong> {{ item.mandante }}<br/><strong>Potencia Total:</strong> {{ item.potencia_total }}</p>'
            }
          });
          {% endif %}
          {% endfor %}

          {% for item in site.projects_empresarial %}
          {% if item.latitud != null %}
          map.addMarker({
            lat: {{item.latitud}},
            lng: {{item.longitud}},
            infoWindow: {
              content:'<h3>{{ item.title }}</h3><p><strong>Ubicación:</strong> {{ item.ubicacion }}<br/><strong>Mandante:</strong> {{ item.mandante }}<br/><strong>Potencia Total:</strong> {{ item.potencia_total }}</p>'
            }
          });
          {% endif %}
          {% endfor %}
        }
      </script>

    </div>

    </div>
  </div>
</section>



<!-- Dynamic page generated in 1.058 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2017-08-04 20:48:16 -->
