---
layout: page
title: Industrial
permalink: /industrial-ahorro-energetico/
excerpt: Ciudad Luz te ayuda a controlar tus gastos energeticos incorporando en tu industria sistemas fotovoltaicos de aprovechamiento de energia solar.
---

      <div class="clearfix"></div>
      <section id="content" class="proyectos-cat">
        <div class="content-wrap">
          <div class="container clearfix">
            <div class="row clearfix">
              <ul class="categorias">
                <li><a href="/residencial-paneles-solares/">Residencial</a></li>
                <li><a href="/agroindustrial-riego-solar-bombeo-solar/">Agroindustrial</a></li>
                <li><a href="/hoteleria-turismo-sustentable/">Hotelería</a></li>
                <li><a href="/educacional-colegio-solar/">Educacional</a></li>
                <li><a href="/retail-comercial-ahorro-energetico/">Retail/Comercial</a></li>
                <li><a class="menu-active"  href="/industrial-ahorro-energetico/">Industrial</a></li>
                <li><a href="/comunidades-aisladas/">Comunidades Aisladas</a></li>
              </ul>
              <div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-loop="false" data-pagi="true" data-margin="26" data-nav="true" data-pagi="false" data-items-xxs="1" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="3">
                {% if site.projects_industrial != empty %}
                  {% for item in site.projects_industrial %}
                    <div class="oc-item">
                      <a href="{{ item.url }}"> <img src="{{ item.img_path | relative_url }}" /> </a>
                      <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                    </div>
                  {% endfor %}

                {% else %}
                <!-- Write your message here  -->

                  <div class="noproyecto">
                    <h2>Aún no hemos concretado proyectos en este segmento. Si perteneces a una empresa de hotelería <span>te invitamos a ser parte de la generación solar.</span><br/>Escríbenos a : <a href="mailto:contacto@ciudadluz.cl">contacto@ciudadluz.cl</a></h2>
                  </div>
                {% endif %}
              </div>
              <div class="mostrarproyecto"></div>
            </div>
          </div>
        </div>
      </section>
