---
layout: page
title: Segmentos and proyectos 
permalink: /segmentos-proyectos/
excerpt: Para Ciudad Luz es importante desarrollar proyectos con diversos tipos de clientes, creando valor y soluciones según las necesidades de cada uno.
---

      <div class="clearfix"></div>
      <section id="content" class="proyectos-new">
        <div class="content-wrap">
          <div class="container clearfix">
            <!-- Residenciales -->
            <div class="row clearfix">
              <h2><strong style="background:  #ff0;">Residenciales</strong></h2>
              {% for item in site.projects_residencial %}
              <div class="col-md-4">
                <img src="{{ item.img_path | relative_url }}" />
                <h3>{{ item.title }}</h3>
                <p>{{ item.excerpt }}</p>
                <p>
                  <strong>Inversión Total:</strong> {{ item.inversion_total }}<br/>
                  <strong>Potencia Total:</strong> {{ item.potencia_total }}
                </p>
              </div>
              {% endfor %}
            </div>

            <!-- Empresariales -->
            <div class="row clearfix">
              <h2><strong style="background:  #ff0;">Empresariales</strong></h2>
              {% for item in site.projects_empresarial %}
              <div class="col-md-4">
                <img src="{{ item.img_path | relative_url }}" />
                <h3>{{ item.title }}</h3>
                <p>{{ item.excerpt }}</p>
                <p>
                  <strong>Inversión Total:</strong> {{ item.inversion_total }}<br/>
                  <strong>Potencia Total:</strong> {{ item.potencia_total }}
                </p>
              </div>
              {% endfor %}
            </div>

            <!-- Institucionales -->
            <div class="row clearfix">
              <h2><strong style="background:  #ff0;">Institucionales</strong></h2>
              {% for item in site.projects_institucional %}
              <div class="col-md-4">
                <img src="{{ item.img_path | relative_url }}" />
                <h3>{{ item.title }}</h3>
                <p>{{ item.excerpt }}</p>
                <p>
                  <strong>Inversión Total:</strong> {{ item.inversion_total }}<br/>
                  <strong>Potencia Total:</strong> {{ item.potencia_total }}
                </p>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </section>
