<footer id="footer">
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half"> Ciudad Luz Copyrights &copy; 2016 Todos los derechos reservados.<br></div>
      <div class="col_half col_last tright"> Cerro Colorado 5030<br/> Oficina 510, Las Condes <br/> <a class="email" href="mailto:contacto@ciudadluz.cl">contacto@ciudadluz.cl </a><br/> +56 2 2218 8330</div>
    </div>
  </div>
</footer>
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript" src="/js/optimized.js"></script><!--noptimize--><!-- Autoptimize found a problem with the HTML in your Theme, tag "/head" missing --><!--/noptimize-->
<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/js/gmaps.js"></script>
