<footer id="footer">
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col-md-6 col-sm-12 text-center text-md-left" style="font-weight: bold;"> &copy; Ciudad Luz 2017, todos los derechos reservados.<br></div>
      <div class="col-md-6 col-sm-12 text-center text-md-right" style="font-weight: bold;"> Cerro Colorado 5030<br/> Oficina 510, Las Condes <br/> <a class="email" href="mailto:contacto@ciudadluz.cl">contacto@ciudadluz.cl </a><br/> +56 2 2218 8330</div>
    </div>
  </div>
</footer>
<div id="gotoTop" class="icon-angle-up"></div>


<script type="text/javascript" src="/js/optimized.js"></script><!--noptimize--><!-- Autoptimize found a problem with the HTML in your Theme, tag "/head" missing --><!--/noptimize-->

<!-- todo esto fue añadido en una segunda etapa -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA55D9S_YcdIcSgkI2bpn3A8PPkB740kP8"></script>
<script type="text/javascript" src="/js/gmaps.js"></script>
