

<header id="header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo"> <a href="https://www.ciudadluz.cl/" class="standard-logo"><img src="{{"/img/logo.jpg" | relative_url}}" alt="Ciudad luz"></a> <a href="https://www.ciudadluz.cl/" class="retina-logo"><img src="{{"/img/logo2.jpg" | relative_url}}" alt="Ciudad luz"></a></div>
      <nav id="primary-menu" class="dark">
        <ul>
          <li>
            <a href="/porque-ciudad-luz/">
              <div>¿Por qué <br/>ciudad luz?</div>
            </a>
          </li>
          <li>
            <a href="/segmentos-proyectos/">
              <div>Segmentos <br/>& proyectos </div>
            </a>
          </li>
          <li>
            <a href="/noticias/">
              <div>Noticias</div>
            </a>
          </li>
          <li>
            <a href="/contacto/">
              <div>Contacto</div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
