<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

<body id="interna" class="stretched" data-loader="4" data-loader-timeout="4000">
  <div id="wrapper" class="clearfix">
  {% include header.html %}


  <div class="clearfix"></div>
  <section id="content" class="proyectos-interna">
    <div class="content-wrap">
      <div class="container clearfix">
        <div class="row clearfix">
          <ul class="categorias">
            <li><a href="/residencial-paneles-solares/">Residencial</a></li>
            <li><a class="menu-active"  href="/agroindustrial-riego-solar-bombeo-solar/">Agroindustrial</a></li>
            <li><a href="/hoteleria-turismo-sustentable/">Hotelería</a></li>
            <li><a href="/educacional-colegio-solar/">Educacional</a></li>
            <li><a href="/retail-comercial-ahorro-energetico/">Retail/Comercial</a></li>
            <li><a href="/industrial-ahorro-energetico/">Industrial</a></li>
            <li><a href="/comunidades-aisladas/">Comunidades Aisladas</a></li>
          </ul>
          <div class="clearfix"></div>
          <div class="col_one_third nobottommargin collection-content">
            {{ page.content | markdownify }}
            <div style="margin-top:20px">
              <style>#indeed_sm_wrap_694{}#indeed_sm_wrap_694 .ism_item{}#indeed_sm_wrap_694 .ism_item .fa-ism, #indeed_sm_wrap_694 .ism_item .ism-sc-icon{float:none;}#indeed_sm_wrap_694 .ism_item_wrapper{display: inline-block;}</style>
              <div class="ism_wrap ism_template_5  ism-shortcode-display" id="indeed_sm_wrap_694" style="" >
                <div id="fb_desc-1474" data-ism_description="{{ page.excerpt }}" style="display: none;"></div>
                <a href="javascript:void(0)" class="ism_link" onClick="shareFacebookWI('{{ site.url }}{{ page.url }}','{{ page.title }}', '0', '0', '#fb_desc-1474', '1');ism_fake_increment('.facebook_share_count', 'facebook', '{{ page.url }}');">
                  <div class="ism_item_wrapper ism-align-horizontal">
                    <div class="ism_item ism_box_facebook">
                      <i class="fa-ism fa-facebook-ism"></i>
                      <div class="clear"></div>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="ism_link" onClick="ism_fake_increment('.twitter_share_count', 'twitter', '{{ site.url }}{{ page.url }}');return !window.open('https://twitter.com/intent/tweet?text= {{ page.title }} {{ site.url }}{{ page.url }}', '', 'width=700,height=313');">
                  <div class="ism_item_wrapper ism-align-horizontal">
                    <div class="ism_item ism_box_twitter">
                      <i class="fa-ism fa-twitter-ism"></i>
                      <div class="clear"></div>
                    </div>
                  </div>
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&title={{page.title}}&summary={{page.excerpt}}" class="ism_link" onClick="ism_fake_increment('.linkedin_share_count', 'linkedin', '{{ site.url }}{{ page.url }}');return !window.open(this.href, '', 'width=700,height=450');">
                  <div class="ism_item_wrapper ism-align-horizontal">
                    <div class="ism_item ism_box_linkedin">
                      <i class="fa-ism fa-linkedin-ism"></i>
                      <div class="clear"></div>
                    </div>
                  </div>
                </a>
                <a href="whatsapp://send?text=CARMEN%20ALTO - {{ site.url }}{{ page.url }}" class="ism_link" onClick="ism_fake_increment('.whatsapp_share_count', 'whatsapp', '{{ site.url }}{{ page.url }}');return !window.open(this.href, '', 'width=700,height=313');">
                  <div class="ism_item_wrapper ism-align-horizontal">
                    <div class="ism_item ism_box_whatsapp">
                      <i class="fa-ism fa-whatsapp-ism"></i>
                      <div class="clear"></div>
                    </div>
                  </div>
                </a>
                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&su={{page.title}}&body={{ site.url }}{{ page.url }}" class="ism_link" onClick="ism_fake_increment('.gmail_share_count', 'gmail', '{{ site.url }}{{ page.url }}');return !window.open(this.href, '', 'width=700,height=313');">
                  <div class="ism_item_wrapper ism-align-horizontal">
                    <div class="ism_item ism_box_gmail">
                      <i class="fa-ism fa-gmail-ism"></i>
                      <div class="clear"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col_two_third col_last nobottommargin"> <img src="{{ page.img_path | relative_url }}" /></div>
        </div>
      </div>
    </div>
  </section>



  {% include footer.html %}
  </div>


</body>
</html>
